@import './color';

.app {
  align-items: center;
  background-color: $darken-white-600;
  font-size: 20px;
  height: 100vh;
  justify-content: center;

  .warning {
    border-color: $red;
  }

  .message-warning {
    color: $red;
  }

  .title {
    color: $black;
    font-size: 22px;
    font-weight: bold;
  }

  .login-form,
  .signup-form {
    background-color: $darken-white-500;
    border: 2px solid $darken-white-500;
    justify-content: space-around;
    max-width: 320px;
    min-width: 320px;
    padding: 10px 20px;

    > * {
      padding: 10px 0;
    }

    .user-info {
      max-width: 270px;

      > * {
        padding: 5px;
      }

      input {
        border: 2px solid;
        margin: 5px 0;
        outline: none;

        &:first-child {
          margin-bottom: 5px;
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
          margin-top: 5px;
        }
      }
    }

    .button-group {
      justify-content: space-around;

      button {
        background-color: $white;
        border: 2px solid $black;
        min-width: 100px;
        outline: none;
      }
    }
  }
}
