@import './color';

.chat-room {
  border: 2px solid $black;
  bottom: 0;
  left: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  .warning {
    border-color: $red;
  }

  .message-warning {
    color: $red;
  }

  .login-form {
    background-color: $darken-white-500;
    border: 2px solid $black;
    justify-content: space-around;
    left: calc(50% - 160px);
    max-width: 320px;
    min-width: 320px;
    padding: 10px 20px;
    position: absolute;
    top: calc(50% - 85px);

    > * {
      padding: 10px 0;
    }

    .user-info {
      max-width: 270px;

      > * {
        padding: 5px;
      }

      input {
        border: 2px solid;
        margin: 5px 0;
        outline: none;

        &:first-child {
          margin-bottom: 5px;
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
          margin-top: 5px;
        }
      }
    }

    .button-group {
      justify-content: space-around;

      button {
        background-color: $white;
        border: 2px solid $black;
        min-width: 100px;
        outline: none;
      }
    }
  }

  .left-menu {
    border-right: 2px solid $black;

    .button-group {
      border-top: 2px solid $black;
      padding: 5px;

      .logout-button,
      .change-password-button {
        background-color: $white;
        border: 2px solid $black;
        font-size: 17px;
        font-weight: bold;
        width: 100%;
      }

      .change-password-button {
        margin-bottom: 5px;
      }
    }
  }

  @import './message-box';
  @import './message-list';
  @import './online-user';
  @import './private-message';
}
