.emoji {
  height: 350px;
  width: 420px;

  .ant-tabs {
    display: flex;
    flex-direction: column;
    height: 100%;

    .ant-tabs-tab {
      font-size: 12px;
      margin-right: 0;
      padding: 8px 5px;
    }

    .ant-tabs-content {
      flex: 1;

      .scroll-block {
        align-content: baseline;
        height: 100%;
        overflow-y: auto;

        label {
          -khtml-user-select: none;
          -ms-user-select: none;
          -moz-user-select: none;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          cursor: pointer;
          font-size: 36px;
          height: 54px;
          padding: 2px 10px;
          text-align: center;
          user-select: none;
          width: 60px;

          &:hover {
            font-size: 39px;
          }

          &::selection {
            background: none;
          }
        }
      }
    }
  }
}
