html,
body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;

  &.flex-column {
    flex-direction: column;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  .flex-100 {
    flex-basis: 100%;
  }

  .flex-20 {
    flex-basis: 20%;
  }

  .flex-80 {
    flex-basis: 80%;
  }
}

@import './app';
@import './chat-room';
@import './emoji';
