.message-box {
  height: 10%;
  position: relative;

  textarea {
    border: 0;
    flex: 1;
    font-size: 15px;
    height: 100%;
    outline: none;
    padding: 5px;
    resize: none;
    width: 100%;
  }

  .button-group {
    align-items: center;
    border-left: 2px solid $black;
    justify-content: center;
    width: 120px;

    i {
      flex: 1;
      font-size: 22px;
      position: relative;

      &:hover {
        color: $self-message-color;
        cursor: pointer;
        font-size: 35px;
      }

      .upload-file {
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }
    }
  }
}
