.message-list {
  border-bottom: 2px solid $black;
  flex: 1;
  overflow-y: auto;
  padding: 20px;

  .message-block {
    color: $white;
    display: block;
    font-size: 17px;
    margin-bottom: 20px;
    position: relative;
    word-wrap: break-word;

    &.self {
      text-align: right;
    }

    .message {
      border-radius: 5px;
      display: inline-block;
      line-height: 15px;
      max-width: 40%;
      padding: 8px 12px;
      text-align: left;

      &.self {
        background-color: $self-message-color;
        border-top-right-radius: 0;

        &:after {
          border-right: 12px solid transparent;
          border-top: 12px solid $self-message-color;
          content: '';
          height: 0;
          position: absolute;
          right: -12px;
          top: 0;
          width: 0;
        }
      }

      &.other {
        background-color: $other-message-color;
        border-top-left-radius: 0;

        &:before {
          border-left: 12px solid transparent;
          border-top: 12px solid $other-message-color;
          content: '';
          height: 0;
          left: -12px;
          position: absolute;
          top: 0;
          width: 0;
        }

        .sender-name {
          display: block;
          font-size: 11px;
          font-style: italic;
          font-weight: bold;
        }
      }

      span {
        line-height: 24px;
      }
    }
  }
}