.online-user-list {
  height: 100vh;
  overflow-y: auto;
  padding: 5px;

  .user-block {
    font-size: 20px;

    .ant-avatar {
      border-radius: 100%;
      height: 30px;
      margin-right: 5px;
      text-align: center;
      width: 30px;
    }

    .user-name {
      cursor: default;
    }
  }
}
