.private-message-list {
  border-top: 2px solid $black;
  height: 30px;

  .block {
    margin: 0 2px;
    position: relative;
    width: 260px;

    .tab-block {
      background-color: $grey;
      border-left: 1px solid $black;
      border-right: 1px solid $black;
      height: 100%;
      line-height: 28px;
      text-align: center;
      width: 100%;
    }

    .private-message {
      background-color: $white;
      border: 2px solid $black;
      bottom: 0;
      height: 366px;
      position: absolute;
      width: 260px;

      .name-block {
        background-color: $grey;
        border-bottom: 2px solid $black;
        font-weight: bold;
        padding: 2px;
      }

      .message-list {
        flex: 1;

        .message-block {
          .message {
            max-width: 80%;

            .sender-name {
              display: block;
              font-size: 11px;
              font-style: italic;
              font-weight: bold;
            }

            a {
              color: $white;
            }

            img {
              width: 100%;
            }
          }
        }
      }

      .message-box {
        height: 70px;

        textarea {
          height: 50px;
        }

        .button-group {
          border-left: 0;
          border-top: 1px solid $black;
          width: 100%;

          i {
            flex: 1;
            font-size: 22px;
            position: relative;

            &:hover {
              color: $self-message-color;
              cursor: pointer;
              font-size: 35px;
            }

            .upload-file {
              bottom: 0;
              left: 0;
              opacity: 0;
              position: absolute;
              right: 0;
              top: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
